@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "PKMN-RBYGSC";
  src: url("../public/fonts/PKMN-RBYGSC.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

.app {
  font-family: "PKMN-RBYGSC", Helvetica, sans-serif;
}

.text-blue-theme {
  color: #64ffda;
}

.text-xxs {
  font-size: 0.65rem;
}

button:focus {
  outline: none;
}

.button-label:hover > .down-arrow {
  opacity: 1;
}

.blur {
  backdrop-filter: blur(8px);
}

.side-bar-button-label:hover > .arrow {
  opacity: 1;
}

ul.square {
  list-style-type: square;
  list-style-position: inside;
}
